.projects-page-center {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .projects-page-center {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.projects-hero {
  height: 40vh;
  background: #008080;
  display: grid;
  place-items: center;
  align-items: center;
}

.projects-hero .section-title {
  margin-bottom: 0;
}

.single-project {
  background: #008080;
  border-radius: 16px;
  box-shadow: 2px 2px 10px 0px #888888;
  transition: transform 1.2s ease, box-shadow 0.3s ease;
  will-change: transform, box-shadow;
}

.single-project:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-container img {
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  padding: 8px;
  border-radius: 2px;
}
.project-container {
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.project-icon {
  position: absolute;
  font-size: 1.75rem;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background: #cce9f2;
  border-radius: 90%;
  color: black;
  border: 0.575rem solid white;
}
.project-details {
  padding: 2rem 1.5rem;
  color: white;
  text-align: center;
}
/* .project-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--clr-primary-5);
  }
  .project-footer a {
    color: var(--clr-primary-5);
    text-transform: capitalize;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    justify-self: end;
  }
  .project-footer a:hover {
    color: var(--clr-primary-1);
  }
   */
